<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <title>易订货-首页</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/index-new.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1091326_sr48ma9pxf.css">
  </head>
  <body>
    <div class="index_page">
      <!-- 顶部搜索框 -->
      <div class="search-wrap">
        <div class="index_top_search">
          <div class="index_top_input">
            <input type="text" placeholder="搜索商品" readonly>
            <i class="iconfont iconfangdajing"></i>
          </div>
          <div class="shopcart_num" id="posBtnR">
            <a href="commodity/shopCart.html">
              <i class="iconfont icontubiao-13"></i>
              <span>0</span>
            </a>
          </div>
        </div>
      </div>
      <div class="bg"></div>
      <!-- 轮播图 -->
      <div class="index_swiper">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(image/bannar.png)"></div>
            <div class="swiper-slide" style="background-image:url(image/bannar.png)"></div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="index-item1">
         <div class="left">
            <div class="t">周期采购</div>
            <div class="b">帮你高效复购</div>
         </div>
         <div class="right">
            <div class="item">
                <div class="img" style="background-image:url(image/img.png)"></div>
                <div class="text">￥33.00</div>
            </div>
            <div class="item">
                <div class="img" style="background-image:url(image/img.png)"></div>
                <div class="text">￥224.00</div>
            </div>
            <div class="item">
                <div class="img" style="background-image:url(image/img.png)"></div>
                <div class="text">￥46.00</div>
            </div>
            <div class="item">
                <div class="img" style="background-image:url(image/img.png)"></div>
                <div class="text">￥53.00</div>
            </div>
         </div> 
      </div>
    
      <div class="notice">
          <span class="title">公告</span>
            <div class="autoscroll">
                <ul>
                    <li class="redirect">优惠卡券,随时领取优惠卡券,随时领取优惠卡券,随时领取优惠卡券,随时领取</li>
                    <li class="redirect">限时秒杀,礼品丰富</li>
                </ul>
            </div>
            <div class="mr"><a href="">更多</a></div>
      </div>

      <!-- 分类 -->
      <div class="index_type"></div>
      <!-- 推荐 -->
      <div class="index_recommend">
        <div style="background-image:url(image/recom.png)"></div>
        <div style="background-image:url(image/recom1.png)"></div>
      </div>
      <!-- <div class="wrap-tab">
        <div class="tab">
          <div class="scroll">
            <div class="item cur">新品上架</div>
            <div class="item">商品专区</div>
            <div class="item">休闲零售</div>
            <div class="item">家用电器</div>
            <div class="item">数码</div>
            <div class="item">手机通讯</div>
         </div>
        </div>
        <div class="more">更多</div>
      </div> -->
   <div class="top-nav">
    <div class="find_nav">
      <div class="find_nav_left">
          <div class="find_nav_list">
              <ul>
                  <li>新品上架</li>
                  <li>商品专区</li>
                  <li>休闲零售</li>
                  <li>家用电器</li>
                  <li>数码</li>
                  <li>手机通讯</li>
              </ul>
          </div>
      </div>
  </div>
  <div class="more">更多</div>
  </div>

     <div class="content">
        <div class="index_list" id="type1">
          <div class="index_list_main" id="act"></div>
        </div>
        <div class="index_list" id="type2" style="display:none;">
          <div class="index_list_main" id="full"></div>
        </div>
      
        <div class="index_list" id="type3" style="display:none;">
          <div class="index_list_main" id="data1"></div>
        </div>
        <div class="index_list" id="type4" style="display:none;">
          <div class="index_list_main" id="data2"></div>
        </div>
        <div class="index_list" id="type5" style="display:none;">
          <div class="index_list_main" id="data3"></div>
        </div>
        <div class="index_list" id="type6" style="display:none;">
          <div class="index_list_main" id="data4"></div>
        </div>
     </div>

      </div> 
      <!-- 底部导航栏 -->
      <div class="bottom_bar" id="bottom_bar" data-current="0"></div>
    </div>
    <script src="js/tmpl.min.js"></script>
    <script type="text/x-tmpl" id="tmpl_list">
      {% for (var i=0; i<o.length; i++) { %}
        <div class="index_list_item">
          <div class="index_list_item_image" style="background-image:url(image/img.png)"></div>
          <div class="index_list_item_main">
            <div class="index_list_item_title">{%=o[i].title%}</div>
            <div class="index_list_item_sku">
              <span>{%=o[i].skuweight%}g</span>
              <span>库存{%=o[i].sku_num%}袋</span>
            </div>
            <div class="index_list_item_price">
              <div>￥{%=o[i].price%}<span>/袋</span></div>
              <div class="cart index_num_add"><i class="iconfont icontubiao-13"></i></div>
            </div>
          </div>
        </div>
      {% } %}
    </script>
    <script type="text/x-tmpl" id="tmpl_bottom">
      {% for (var i=0; i<o.length; i++) { %}
        <div class="{%=o[i].class%}" data-index="{%=i%}">
          <i class="iconfont {%=o[i].icon%}"></i>
          <p>{%=o[i].name%}</p>
        </div>
      {% } %}
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/index-new.js"></script>
    <script src="js/global.js"></script>
    <script src="js/swiper.min.js"></script>
    <script>
      $(function () {
        var mySwiper = new Swiper ('.swiper-container', {
          loop: true,
          autoplay: true,
          pagination: {
            el: '.swiper-pagination'
          }
        })
      })
    </script>
  </body>
</html>