<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>角色新增</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="layui/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="layui/style/admin.css" media="all">
    <script src="js/jquery.min.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">新增单位</div>
                <div class="layui-card-body">
                    <div class="layui-form" wid100>
                        <div class="layui-form-item">
                            <label class="layui-form-label">角色名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="role" name="role" lay-verify="number"
                                       placeholder="请输入角色名称"
                                       class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">如：超级管理员</div>
                        </div>
                        <div class="layui-form-item" onclick="roleAdd()">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="set_system_email">确认保存</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="layui/layui/layui.js"></script>
<script>

    layui.use(['layer'], function () {
        var layer = layui.layer;
    })
    function roleAdd() {
        var role = $("#role").val();
        if (role == "") {
            luiAlert("提示", "角色名称为空")
            return
        }
        $.get("/mgt/roleAdd", {
            "role": role
        }, function (data) {
            var status = data.status;
            var msg = data.msg;
            if (status == 200) {
                layer.open({
                    title: '提示'
                    ,content: '新增成功'
                    ,yes: function(index, layero){
                        var index = parent.layer.getFrameIndex(window.name)
                        parent.layer.close(index);
                        parent.window.location.reload();
                    }
                })
            } else {
                luiAlert("提示", msg)
            }
        })
    }
</script>
</body>
</html>