a,a:active {
  color:#333
}

.index_page{
  width: 100%;
  height: 100%;
  padding-bottom:1.3rem;
}
.index_swiper{
  width: 92%;
  height: 3.4rem;
  position: relative;
  margin:1.1rem auto 0;
}
.swiper-container {
  border-radius: 4px;
}
.swiper-pagination {
  height: 62px;
}
.index_swiper .swiper-slide{
  width: 100%;
  height: 3.2rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 顶部搜索栏 */
.index_top_search{
  width: 100%;
  position: fixed;
  height: 0.56rem;
  top: 0.16rem;
  padding: 0 0.16rem 0 0.3rem;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}
/*.index_top_search div:first-child{
  width: 0.39rem;
  height: 100%;
  line-height: 0.56rem;
  text-align: center;
}*/
.bg{
  background: linear-gradient(to right, #ff9aa0, #f9a092);
  background-position: center top;
  background-size:100%;
  width: 100%;
  height:3rem;
  position: absolute;
  left: 0;
  top:0;
}
.index_top_search div:first-child i{
  /*color: #fff;*/
  font-size: 0.32rem;
  display: block;
}
.index_top_search .index_top_input{
  width: 90%;
  height: 100%;
  position: relative;
}
.index_top_search .index_top_input>input{
  width: 100%;
  height: 100%;
  border-radius: 0.28rem;
  display: block;
  border: 0;
  background: rgba(255, 255, 255, 0.94);
  padding: 0 0.2rem 0 .6rem;
  box-sizing: border-box;
}
.index_top_input i{
  position: absolute;
  font-size: 0.28rem;
  line-height: 0.56rem;
  top: 0;
  color: #999;
  left: 0.2rem;
  margin: auto;
}
.index_top_search div:nth-child(2){
  width: 0.56rem;
  height: 100%;
  text-align: left;
  position: relative;
  line-height: 0.56rem;
}
.index_top_search div:nth-child(2) i{
  display: block;
  font-size: 0.42rem;
  color: #fff;
}
.index_top_search div:nth-child(2) span{
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background: #FF807D;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.2rem;
  top: 0;
  right: 0;
  color: #fff;
}
/* 分类 */
.index_type{
  width: 92%;
  background: #fff;
  padding: 0 0.3rem 0.3rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 4px;
}
.index_type>div{
  width: 25%;
  height: 100%;
}
.index_type>div span{
  height: 0.84rem;
  width: 0.84rem;
  background: #F6B75E;
  border-radius: 50%;
  display: block;
  margin:0.3rem auto 0.16rem;
  line-height: 0.84rem;
  text-align: center;
}
.index_type>div p{
  font-size: 0.26rem;
  color: #666;
  text-align: center;
}
.index_type>div span i{
  display: block;
  font-size: 0.84rem;
  color: #fff;
}
/* 推荐 */
.index_recommend{
  width: 96%;
  /*height: 2.08rem;*/
  padding-left:4%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.index_recommend>div{
  width: 50%;
  /*height: 100%;*/
  height: 2.08rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  margin-right:2%;
}
.index_recommend>div:last-child{
  margin-right:0%;
}
/* 列表 */
.index_list{
  width: 100%;
  height: auto;
}
.index_list_title{
  width: 100%;
  height: 1.09rem;
  text-align: center;
  line-height: 1.09rem;
}
.index_list_title span{
  font-size: 0.36rem;
  color: #FF807D;
  display: block;
}
.index_list_title span i{
  font-size: 0.36rem;
  margin-right: 0.12rem;
}
.index_list_main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.index_list_main .index_list_item{
  width: 3.7rem;
  height: 6.22rem;
}
.index_list_item_image{
  width: 100%;
  height: 3.7rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.index_list_item_title{
  width: 3.28rem;
  height: 0.88rem;
  line-height: 0.44rem;
  font-size: 0.3rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.index_list_item_main{
  width: 100%;
  padding: 0.2rem;
  height: 2.52rem;
}
.index_list_item_sku{
  width: 100%;
  height: 0.26rem;
  font-size: 0.22rem;
  line-height: 0.22rem;
  overflow: hidden;
  color: #B3B3B3;
  margin-top: 0.12rem;
}
.index_list_item_sku>span:first-child{
  float: left;
}
.index_list_item_sku>span:nth-child(2){
  float: right;
}
.index_list_item_price{
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  overflow: visible;
  margin-top: 0.2rem;
  position: relative;
}
.index_list_item_price>div:first-child{
  font-size: 0.3rem;
  color: #F95B57;
  float: left;
}
.index_list_item_price>div:first-child span{
  font-size: 0.22rem;
}
.index_num{
  width: 1.66rem;
  height: 100%;
  float: right;
  position: absolute;
  right: 0;
  top:0;
}
.index_num>div:first-child,.index_num>div:nth-child(3){
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  position: absolute;
  z-index: 99;
}
.index_num>div:first-child{
  left: 0;
}
.index_num>div:nth-child(3){
  right: 0;
}
.index_num>div:first-child i,.index_num>div:nth-child(3) i{
  display: block;
  font-size: 0.52rem;
}
.index_num>div:nth-child(2){
  width: 1.16rem;
  border-top: 0.01rem solid #E6E6E6;
  border-bottom: 0.01rem solid #E6E6E6;
  height: 0.46rem;
  position: absolute;
  left: 0.25rem;
  top: 0.02rem;
  text-align: center;
  line-height: 0.44rem;
  font-size: 0.26rem;
  color: #333;
}
.iconjia{
  color: #FF807D;
}
.index_num_reduce i{
  color: #E6E6E6;
}
.num_active i{
  color: #FF807D !important;
}
.wrap-tab {
  width: 92%;
  margin:.4rem auto 0;
  display: flex;
  font-size: .3rem;
  height: .7rem;
  align-items: center;
}
.tab {
  flex: 1;
  display: flex;
}

.tab .scroll {
    position: relative;
    left: 0;
    width:100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: .7rem;
}
.tab .scroll div {
    display: inline-block;
    white-space: normal;
    color: #6f6f6f;
    position: relative;
    margin-right: .4rem;
    height: .7rem;

}
.tab .scroll div.cur {
  font-size: .34rem;
  color: #000;
  font-weight: 500;
}

.tab .scroll div.cur::after {
  content: "";
  position: absolute;
  background-color: #FF807D;
  height: 2px;
  width: 100%;
  bottom: .13rem;
  left: 0;
}
.more {
  background: #F0F0F0;
  position: relative;
  width: 1rem;
  text-align: center;
  color: #6f6f6f;
  display: flex;
  justify-content: center;
  height: .7rem;
  font-size: .3rem;
  z-index:10;
}
.index_list_main {
  padding: .2rem;
}
.index_list_main .index_list_item{
  width: 48%;
  height: 6.22rem;
  background: #fff;
  border-radius: 3px;
  margin:0 1% 3%;
}
.cart {
  width: 34px;
  height: 34px;
  background: #ececec;
  border-radius: 50px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart i {
  font-size: 18px;
  font-weight: 700;
  color: #6f6f6f;
}
.search-wrap {
    height: .9rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
}
.search-wrap.active{
  background:rgba(255, 128, 125, 1);
  transition: background 1s;
  -webkit-transition:background 1s;
}
.search-wrap.active .index_top_search div:nth-child(2) span {
  color: #F95B57;
  background: #fff
}
.index-item1{
  background: #fff;
  width: 92%;
  margin:0 auto;
  display: flex;
  height:2rem;
  border-radius: 4px;
  padding-left:.2rem;
}
.index-item1 .left{
  display: flex;
  font-size: .26rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.index-item1 .left .t{
  color: #fff;
  border-radius: 20px;
  padding:0 .2rem;
  height: .5rem;
  line-height: .5rem;
  background: linear-gradient(to right, #fe935b, #eb391e);
  margin-bottom: .1rem;
}

.index-item1 .left .b{
  color: #989898;
  font-size: .2rem;
}

.index-item1 .right {
  display: flex;
  flex:1;
}
.index-item1 .right .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
  overflow: hidden;
}
.index-item1 .right .item .img {
  width:.9rem;
  height:.9rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}

.index-item1 .right .item .text {
  font-size: .20rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  text-align: center;
  overflow: hidden;
}
.index-item1 .right .item .text span {
  font-size: .25rem;
}
.notice {
   width: 92%;
   background: #fff;
   border-radius: 4px;
   margin:.2rem auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: .7rem;
}
.notice span.title {
    height: 0.36rem;
    line-height: 0.36rem;
    border: 0.01rem solid #EA6055;
    border-radius: 0.06rem;
    background-color: #FFF1F0;
    font-size: 0.22rem;
    color: #EA6055;
    padding: 0 0.22rem;
    margin-left: .3rem;
    display: flex;
    align-items: center;
}
.autoscroll {
   white-space: nowrap;
   padding-left: 0.3rem;
   flex: 1;
   overflow: hidden;
   text-overflow: ellipsis;
   height: 0.36rem!important;
   display: block;
   position: relative;
}
.autoscroll ul{
    transform:translateY(0);
}
.notice .mr {
  font-size: .24rem;
  border-left: 1px solid #ccc;
  padding-left: .2rem;
  margin-right: .3rem;

}
.autoscroll  li {
    height: 0.36rem;
    line-height: 0.36rem;
    text-overflow:ellipsis;
    overflow: hidden;
    font-size: .24rem;
}
.animate{
    -webkit-transition:all .3s ease-out;
}

.find_nav {
    width: 100%;
    height: .7rem;
    z-index: 9;
    /*margin-top: .4rem*/
}
.find_nav_left {
    height: .7rem;
    position: relative;
    overflow: hidden;
    left: 4%
}
.find_nav_list {
    position: absolute;
    left: 0;
    height: .7rem;
    -webkit-overflow-scrolling: touch;
}
.find_nav_list ul {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    height: 100%;
}
.find_nav_list ul li {
    display: inline-block;
    margin-right: .5rem;
    height: .7rem;
    color: #6f6f6f;
    position: relative;
    line-height: .7rem;
    font-size:.3rem;
}

.find_nav_list ul li.find_nav_cur {
    color: #333;
    font-size: .34rem
}
.find_nav_list ul li.find_nav_cur::after{
  content: "";
  position: absolute;
  background-color: #FF807D;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.top-nav {
  display: flex;
  overflow: hidden;
  width: 96%;
}
.top-nav .more {
  background: #F0F0F0;
  /*position: relative;*/
  position: absolute;
  right: 5px;
  width: 1rem;
  text-align: center;
  color: #6f6f6f;
  display: flex;
  justify-content: center;
  height: .7rem;
  font-size: .3rem;
  /*margin-top: .4rem;*/
  z-index:10;
  flex: 1;
  align-items: center;
}