.my_top{
  width: 100%;
  height: 2.86rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0.6rem;
}
.my_avatar{
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin: 0 auto 0.2rem;
  background: #fff;
  text-align: center;
  line-height: 1.2rem;
}
.my_avatar i{
  font-size: 0.7rem;
  color: #FF807D;
  display: block;
}
.my_top>div:nth-child(2){
  text-align: center;
  height: 0.26rem;
  color: #fff;
  font-size: 0.26rem;
  line-height: 0.26rem;
}
.my_sec{
  width: 100%;
  height: 1.15rem;
  background: #fff;
  padding: 0.2rem 0;
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.my_sec>div{
  width: 50%;
  height: 100%;
  text-align: center;
}
.my_sec>div:first-child{
  border-right: 0.01rem solid #e0e0e0;
  font-size: 0.3rem;
  line-height: 0.75rem;
  color: #666;
}
.my_sec>div:nth-child(2) div:first-child{
  height: 0.22rem;
  line-height: 0.22rem;
  font-size: 0.22rem;
  color: #CCCCCC;
  text-align: center;
  margin-top: 0.09rem;
}
.my_sec>div:nth-child(2) div:nth-child(2){
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.3rem;
  color: #666666;
  text-align: center;
  margin-top: 0.11rem;
}
.my_third{
  width: 100%;
  height: 1.85rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
  padding: 0.2rem 0;
}
.my_third>div{
  width: 50%;
  height: 100%;
  border-right: 0.01rem solid #e0e0e0;
  text-align: center;
}
.my_third>div:last-child{
  border-right: 0;
}
.my_third>div i{
  display: block;
  font-size: 0.9rem;
}
.icontubiao-54{
  color: #A58FFB;
}
.icontubiao-41{
  color: #FF807D;
}
.icontubiao-43{
  color: #F6B75E;
}
.my_third>div p{
  text-align: center;
  font-size: 0.26rem;
  color: #666666;
}
.my_info{
  width: 100%;
  background: #fff;
  margin-top: 0.2rem;
  padding: 0 0.3rem;
}
.my_info>div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 0.9rem;
  position: relative;
  line-height: 0.9rem;
  border-bottom: 0.01rem solid #e0e0e0;
}
.my_info>div:last-child{
  border-bottom: 0;
}
.my_info>div span{
  display: block;
  height: 100%;
  width: 1.2rem;
  color: #666;
  line-height: 0.9rem;
  font-size: 0.3rem;
}
.my_info>div input{
  width: 5.7rem;
  font-size: 0.26rem;
  color: #666;
  text-align: right;
  height: 0.88rem;
  padding-right: 0.4rem;
  box-sizing: border-box;
}
.my_info>div i{
  position: absolute;
  right: 0;
  font-size: 0.3rem;
  color: #CCCCCC;
}
.my_tel input::-webkit-input-placeholder {
  color: #FF807D;
 }
 .sign_out{
   width: 100%;
   height: 0.88rem;
   margin-top: 0.2rem;
   background: #fff;
   text-align: center;
   line-height: 0.88rem;
   color: #FF807D;
   font-size: 0.3rem;
   margin-bottom: 1.18rem;
 }
 .order-icon {
     display: block;
     background: url("../image/order-icon.png") no-repeat center;
     background-size:100%;
     width: .74rem;
     height: .74rem;
     margin: .11rem auto .13rem;
 }