.commodity_page{
  padding-bottom: 0.98rem;
}
.cpmmodity_top{
  width: 100%;
  height: 1.68rem;
  position: fixed;
  background: #fff;
  top: 0;
}
.search{
  width: 100%;
  height: 0.88rem;
  padding: 0.16rem 0.3rem;
  position: relative;
}
.search>div{
  width: 6.3rem;
  height: 0.56rem;
  border-radius: 0.28rem;
  border: 0.01rem solid #F0F0F0;
  padding: 0 0.33rem;
  position: relative;
  font-size: 0.28rem;
  color: #ccc;
  line-height: 0.54rem;
}
.search>span{
  position: absolute;
  width: 0.38rem;
  height: 0.38rem;
  line-height: 0.38rem;
  text-align: center;
  top: 0.25rem;
  right: 0.3rem;
}
.search>span i {
  display: block;
  color: #666666;
  font-size: 0.44rem;
}
.search>div i{
  font-size: 0.32rem;
  color: #666666;
}
.tab{
  width: 100%;
  height: 0.8rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.01rem solid #E0E0E0
}
.tab>div{
 width: 33.33%;
 height: 100%;
 text-align: center;
 line-height: 0.79rem;
 font-size: 0.28rem;
 color: #666;
}
.tab>div i{
  font-size: 0.34rem;
  position: relative;
  top: 0.03rem;
}
.tab>div span{
  display: block;
  height: 0.76rem;
}
.tab>div:first-child,.tab>div:nth-child(2){
  padding: 0 0.65rem;
}
.tab_act{
  color: #0BC6D7;
  border-bottom: 0.04rem solid #0BC6D7;
}
.commodity_list{
  width: 100%;
}
.commodity_list_item{
  width: 100%;
  height: 2.9rem;
  background: #fff;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
}
.item_img{
  width: 2.3rem;
  height: 2.3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item_main{
  width: 4.6rem;
  height: 100%;
  padding-left: 0.3rem;
}
.item_main>div:first-child{
  width: 100%;
  height: 0.32rem;
  line-height: 0.32rem;
  font-size: 0.3rem;
  color: #333333;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin-top: 0.16rem;
}
.item_main>div:nth-child(2){
  width: 100%;
  height: 0.3rem;
  position: relative;
  margin-top: 1.26rem;
}
.price{
  font-size: 0.3rem;
  color: #F95B57;
  line-height: 0.3rem;
}
.price span{
  font-size: 0.22rem;
}
.more{
  position: absolute;
  right: 0;
  font-size: 0.36rem;
  color: #999999;
  height: 100%;
  line-height: 0.3rem;
  top: 0;
}
.hide_popup{
  position: absolute;
  top: 0.46rem;
  right: 0;
  height: 2.08rem;
  width: 1.7rem;
  background: #fff;
  z-index: 99;
  box-shadow: 0 0 0.1rem 0 rgba(230,230,230,1);
  border-radius: 0.04rem;
  display: none;
}
.hide_popup::after{
  content: "";
  position: absolute;
  top: -0.1rem;
  right: 0.08rem;
  width: 0;
  height: 0;
  border-bottom: 0.12rem solid rgba(0, 0, 0, 0.5);
  border-left: 0.12rem solid transparent;
  border-right: 0.12rem solid transparent;
}
.hide_popup::before{
  content: "";
  position: absolute;
  top: -0.08rem;
  right: 0.1rem;
  width: 0;
  height: 0;
  border-bottom: 0.1rem solid #fff;
  border-left: 0.1rem solid transparent;
  border-right: 0.1rem solid transparent;
  z-index: 1;
}
.hide_popup>div{
  width: 100%;
  height: 0.73rem;
  border-bottom: 0.01rem solid #E0E0E0;
  line-height: 0.72rem;
  font-size: 0.3rem;
  text-align: center;
  color: #999;
}
.hide_popup>div:last-child{
  border-bottom: 0;
}
.hide_popup>div i{
  font-size: 0.3rem;
}
.lower_mask{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.lower_popup{
  width: 5.9rem;
  height: 2.88rem;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 0.08rem;
  overflow: hidden;
}
.lower_popup>div:first-child{
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.3rem;
  color: #666666;
  text-align: center;
}
.lower_btn{
  width: 100%;
  height: 0.88rem;
  border-top: 0.01rem solid #e0e0e0;
  display: flex;
  justify-content: space-between;
}
.lower_btn>div{
  width: 50%;
  height: 100%;
  line-height: 0.87rem;
  text-align: center;
  font-size: 0.34rem;
  color: #666;
  background: #fff;
}
.lower_btn>div:nth-child(2){
  background: #0BC6D7;
  color: #fff;
}
.lower_toast{
  width: 2.9rem;
  height: 0.6rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.3rem;
  position: fixed;
  bottom: 4.3rem;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 0.26rem;
  color: #fff;
  text-align: center;
  line-height: 0.6rem;
  display: none;
}
.mask{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  opacity: 0;
}
.mask_main{
  width: 5rem;
  height: 100%;
  background: #fff;
  position: absolute;
  right: -5rem;
}
.popup_ani{
  -webkit-transform : translateX(-5rem);
  transform : translateX(-5rem);
  -webkit-transition :-webkit-transform .5s ease-out, opacity .5s ease-out; 
  transition :transform .5s ease-out, opacity .5s ease-out;
}
.popup_to_right{
  -webkit-transform : translateX(0);
  opacity: 0;
  transform : translateX(0);
  -webkit-transition :-webkit-transform .5s ease-out, opacity .5s ease-out;
  transition :transform .5s ease-out, opacity .5s ease-out;
}
.mask_title{
  width: 100%;
  height: 0.88rem;
  overflow: hidden;
  padding: 0 0.3rem;
}
.mask_title>span:first-child{
  width: 0.08rem;
  height: 0.3rem;
  background: #0BC6D7;
  float: left;
  margin-top: 0.29rem;
}
.mask_title>span:nth-child(2){
  float: left;
  font-size: 0.3rem;
  color: #666666;
  height: 100%;
  line-height: 0.88rem;
  margin-left: 0.12rem;
}
.mask_line{
  width: 100%;
  height: 0.1rem;
  background: #F1F1F1;
}
.mask_type_title{
  width: 100%;
  height: 0.9rem;
  border-bottom: 0.01rem solid #e0e0e0;
  line-height: 0.89rem;
  font-size: 0.3rem;
  color: #666666;
  overflow: hidden;
  padding: 0 0.3rem;
}
.mask_type_title i{
  display: block;
  float: right;
  font-size: 0.3rem;
  transition: All 0.3s ease-in-out;
  -webkit-transition: All 0.3s ease-in-out;
}
.type_list{
  width: 100%;
  height: calc(100% - 0.88rem - 0.1rem - 0.9rem);
  overflow: scroll;
}
.type_list_item{
  width: 100%;
  height: 0.9rem;
  border-bottom: 0.01rem solid #e0e0e0;
  font-size: 0.3rem;
  overflow: hidden;
  padding: 0 0.3rem;
  line-height: 0.89rem;
  color: #666666;
}
.type_list_item span:first-child{
  float: left;
}
.type_list_item span:nth-child(2){
  float: right;
}
.type_list_item span:nth-child(2) i{
  font-size: 0.42rem;
  color: #666;
}
.type_act span{
  color: #0BC6D7;
}
.type_act span:nth-child(2) i{
  color: #0BC6D7;
}
.icontubiaozhizuomoban-10{
  color: #0BC6D7;
}
.retract{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}