.unit_list{
  width: 100%;
  background: #fff;
}
.unit_list_item{
  width: 100%;
  height: 0.9rem;
  border-bottom: 0.01rem solid #E0E0E0;
  padding-left: 0.8rem;
  line-height: 0.89rem;
  font-size: 0.3rem;
  color: #666;
  position: relative;
}
.unit_list_item i{
  position: absolute;
  right: 0.3rem;
  font-size: 0.42rem;
  color: #0BC6D7;
  top: 0;
  display: none;
}