<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>审核商品详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="layui/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="layui/style/admin.css" media="all">
    <script type=text/javascript src="js/jquery.min.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card jurisdiction">
                <!--<div class="layui-card-header">商品详情</div>-->
                <div class="layui-card-body">
                    <div class="layui-form">
                        <input hidden id="id">
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品名称</label>
                            <div class="layui-input-block">
                                <input type="text" id="name" class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">编号</label>
                            <div class="layui-input-block">
                                <input type="text" id="barcode" class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">品牌</label>
                            <div class="layui-input-block">
                                <input type="text" id="brand" class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">单位</label>
                            <div class="layui-input-block">
                                <input type="text" id="unit" class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">单位详解</label>
                            <div class="layui-input-block">
                                <input type="text" id="unitExplan" class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品颜色</label>
                            <div class="layui-input-block">
                                <input type="text" id="model" placeholder="红色,黄色  逗号区分" class="layui-input" >
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">价格</label>
                            <div class="layui-input-block">
                                <input type="text" id="price" class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">市场参考价</label>
                            <div class="layui-input-block">
                                <input type="text" id="referencePrice" class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">清算价格</label>
                            <div class="layui-input-block">
                                <input type="text" id="settlePrice" class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品介绍</label>
                            <div class="layui-input-block">
                                <input type="text" id="remark" class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-form-item">
<!--                            热卖推荐-->
                            <label class="layui-form-label" th:text="${ctgr2.categoryName}"></label>
                            <div class="layui-input-block checkboxDiv">
                                <input type="checkbox" id="isDiscountCheckbox" name="close"
                                       lay-skin="switch" lay-filter="switchTest" lay-text="是|否">
                            </div>
                            <input hidden id="isDiscount" value="0">
                        </div>
                        <div class="layui-form-item">
                            <!--                            新品上架-->
                            <label class="layui-form-label"th:text="${ctgr1.categoryName}"></label>
                            <div class="layui-input-block checkboxDiv">
                                <input type="checkbox" id="newProductCheckbox" name="close"
                                       lay-skin="switch" lay-filter="switchTest2"  lay-text="是|否">
                            </div>
                            <input hidden id="newProduct" value="0">
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">销量</label>
                            <div class="layui-input-block">
                                <input type="text" id="sales" autocomplete="off" placeholder="请输入销量"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">兑换方式</label>
                            <div class="layui-input-block">
                               <select  id="exchangeType" lay-filter="exchangeType" >
                                   <option value="0">积分兑换</option>
                                   <option value="1">现金兑换</option>
                                   <option value="2">混合兑换</option>
                               </select>
                            </div>
                        </div>
                        <div class="layui-form-item" id="showPrice" >
                            <label class="layui-form-label">积分兑换价格</label>
                            <div class="layui-input-block">
                                <input type="text" id="exchangePrice" autocomplete="off" placeholder="请输入积分兑换价格"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" id="showCash" >
                            <label class="layui-form-label">现金兑换价格</label>
                            <div class="layui-input-block">
                                <input type="text" id="exchangeCash" autocomplete="off" placeholder="请输入现金兑换价格"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item"  >
                            <label class="layui-form-label">兑换备注</label>
                            <div class="layui-input-block">
                                <input type="text" id="exchangeRemark" autocomplete="off" placeholder="请输入兑换备注"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">平台价格</label>
                            <div class="layui-input-block">
                                <input type="text" id="purchasePrice" autocomplete="off" placeholder="请输入平台价格"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">上架/下架</label>
                            <div class="layui-input-block checkboxDiv">
                                <input type="checkbox" id="productStatusNot" name="close"
                                       lay-skin="switch" lay-filter="productStatus"  lay-text="上架|下架">
                            </div>
                            <input hidden id="productStatus" value="0">
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">预购/禁止预购</label>
                            <div class="layui-input-block checkboxDiv">
                                <input type="checkbox" id="purchasewill" name="close"
                                       lay-skin="switch" lay-filter="purchasewill"  lay-text="预购|禁止预购">
                            </div>
                            <input hidden id="purchaseOrnot" value="0">
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品专区</label>
                            <div class="layui-input-block checkboxDiv">
                                <input type="checkbox" id="prefecture" name="close"
                                       lay-skin="switch" lay-filter="prefecture"  lay-text="是|否">
                            </div>
                            <input hidden id="productPrefecture" value="0">
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">缩略图</label>
                            <div class="layui-input-block">
                                <div class="layui-row layui-col-space10" id="image">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">展示图</label>
                            <div class="layui-input-block">
                                <div class="layui-row layui-col-space10" id="imageList">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">详情图</label>
                            <div class="layui-input-block">
                                <div class="layui-row layui-col-space10" id="imageDetail">
                                </div>
                            </div>
                        </div>
                        <div hidden class="layui-form-item" id="productCheck">
                            <div class="layui-input-block">
                                <button class="layui-btn" onclick="productCheck()">立即提交</button>
                            </div>
                        </div>
                        <div hidden class="layui-form-item" id="saveEditExchange">
                            <div class="layui-input-block">
                                <button class="layui-btn" onclick="saveEditExchange()">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="layui/layui/layui.js"></script>
<script th:inline="javascript">
    var id = [[${id}]];
</script>
<script>

    layui.use(['layer', 'element', 'form'], function () {
        var layer = layui.layer,
            $ = layui.$,
            element = layui.element,
            form = layui.form;

        form.on('switch(switchTest)', function (data) {
            if (this.checked) {
                $("#isDiscount").val("1");
            } else {
                $("#isDiscount").val("0");
            }
        });

        form.on('switch(productStatus)', function(data) {
            if (this.checked) {
                $("#productStatusNot").val("1");
            } else {
                $("#productStatusNot").val("2");
            }
        })

        form.on('switch(purchasewill)', function (data) {
            if (this.checked) {
                $("#purchaseOrnot").val("0");
            } else {
                $("#purchaseOrnot").val("1");
            }
        });
        form.on('switch(prefecture)', function (data) {
            if (this.checked) {
               $("#productPrefecture").val("1");
            } else {
                $("#productPrefecture").val("0");
            }
        });


        form.on('switch(switchTest2)', function (data) {
            if (this.checked) {
                $("#newProduct").val("1");
            } else {
                $("#newProduct").val("0");
            }
        });

        form.on('select(exchangeType)', function (data) {
            type = data.elem[data.elem.selectedIndex].value;
            changeExchange(type);
        });

        $.post("/mgt/getProductById", {"id": id}, function (data) {
            var checkStatus = data.checkStatus;
            if (checkStatus == 1) {
                $("#productCheck").show();
                $("#saveEditExchange").hide();
            } else {
                $("#productCheck").hide();
                $("#saveEditExchange").show();
            }
            setData(data);
        })

        function changeExchange(type) {
            $('#exchangeType').children('option').eq(type).prop('selected', true);
            if(type == "0"){
                $("#showPrice").show();
                $("#showCash").hide();
            }else if(type == "1"){
                $("#showPrice").hide();
                $("#showCash").show();
            }else if(type == "2"){
                $("#showPrice").show();
                $("#showCash").show();
            }
            form.render('select');
        }


        function setData(data) {
            $("#id").val("").val(data.id);
            $("#name").val("").val(data.name);
            $("#barcode").val("").val(data.barcode);
            $("#brand").val("").val(data.brand);
            $("#unit").val("").val(data.unit);
            $("#unitExplan").val("").val(data.unitexplan);
            $("#price").val("").val(data.price);
            $("#referencePrice").val("").val(data.referencePrice);
            $("#settlePrice").val("").val(data.settlePrice);
            $("#remark").val("").val(data.remark);
            $("#purchasePrice").val("").val(data.purchasePrice);
            $("#exchangePrice").val("").val(data.exchangePrice);
            $("#exchangeCash").val("").val(data.exchangeCash);
            $("#exchangeRemark").val("").val(data.exchangeRemark);
            $("#productStatus").val("").val(data.productStatus);
            $("#purchaseOrnot").val("").val(data.purchaseOrnot);
            $("#productPrefecture").val("").val(data.productPrefecture);
            $("#model").val("").val(data.model);


            changeExchange(data.exchangeType);

            if (data.isdiscount == "1") {
                $("#isDiscountCheckbox").prop('checked', true);
                $("#isDiscountCheckbox").next().addClass("layui-form-onswitch");
                $("#isDiscountCheckbox").next().find("em").html("是");
            }
            if (data.newproduct == "1") {
                $("#newProductCheckbox").prop('checked', true);
                $("#newProductCheckbox").next().addClass("layui-form-onswitch");
                $("#newProductCheckbox").next().find("em").html("是");
            }
            if (data.productStatus == "1") {
                $("#productStatusNot").prop('checked', true);
                $("#productStatusNot").next().addClass("layui-form-onswitch");
                $("#productStatusNot").next().find("em").html("上架");
            }

            if (data.purchaseOrnot == "0") {
                $("#purchasewill").prop('checked', true);
                $("#purchasewill").next().addClass("layui-form-onswitch");
                $("#purchasewill").next().find("em").html("预购");
            }
            if (data.productPrefecture == "1") {
                $("#prefecture").prop('checked', true);
                $("#prefecture").next().addClass("layui-form-onswitch");
                $("#prefecture").next().find("em").html("是");
            }
            $("#sales").val("").val(data.sales);
            $("#isDiscount").val("").val(data.isdiscount)
            $("#productStatus").val("").val(data.productStatus)
            $("#purchaseOrnot").val("").val(data.purchaseOrnot)
            $("#productPrefecture").val("").val(data.productPrefecture);

            var image = "<div class=\"layui-col-xs12 layui-col-sm2\">" +
                "<img src=\"" + data.imgAddr + data.image + "\" width=\"100%\">" +
                "</div>";
            $("#image").html(image);
            var imageList = "";
            var imageDetail = "";
            $(data.imgs).each(function () {
                if (this.type == "0") {
                    imageList += "<div class=\"layui-col-xs12 layui-col-sm2\">" +
                        "<img src=\"" + data.imgAddr + this.imgPath + "\" width=\"100%\">" +
                        "</div>"
                } else {
                    imageDetail += "<div class=\"layui-col-xs12 layui-col-sm2\">" +
                        "<img src=\"" + data.imgAddr + this.imgPath + "\" width=\"100%\">" +
                        "</div>";
                }
            })
            $("#imageList").html(imageList);
            $("#imageDetail").html(imageDetail);
        }



    });
    function productCheck() {
        var id = $("#id").val();
        var purchasePrice = $("#purchasePrice").val();
        var exchangePrice = $("#exchangePrice").val();
        if (id === null || id === "" || id === undefined) {
            layer.msg('未选中商品！', {icon: 5});
            return;
        }

        if (exchangePrice == null || exchangePrice == "" || !checkNumber(exchangePrice)) {
            layer.msg('请输入正确的兑换价格！', {icon: 5});
            return;
        }

        if (purchasePrice == null || purchasePrice == "" || !checkNumber(purchasePrice)) {
            layer.msg('请输入正确的平台价格！', {icon: 5});
            return;
        }
        layer.confirm('确认该商品审核通过？', {
            btn: ['通过', '不通过', '拒绝','取消']
            ,btn3:function () {
                check(3);
            }
        }, function () {
            check(1);
        }, function () {
            check(2);
        });
    }



    function check(checkValue) {
        var id = $("#id").val();
        var newProduct = $("#newProduct").val();
        var isDiscount = $("#isDiscount").val();
        var purchasePrice = $("#purchasePrice").val();
        var exchangePrice = $("#exchangePrice").val();
        var exchangeType = $("#exchangeType option:selected").val();
        var exchangeCash = $("#exchangeCash").val();
        var exchangeRemark = $("#exchangeRemark").val();
        var productStatus = $("#productStatusNot").val();
        var purchaseOrnot = $("#purchaseOrnot").val();
        var productPrefecture = $("#productPrefecture").val();
        var model = $("#model").val();
        var sales = $("#sales").val();
        if (sales < 0) {
            layer.msg("销量", {icon: 2});
            return;
        }
        $.post("/mgt/checkProduct", {
            "id": id,
            "purchasePrice": purchasePrice,
            "exchangePrice": exchangePrice,
            "checkValue": checkValue,
            "isDiscount": isDiscount,
            "newProduct": newProduct,
            "sales": sales,
            "exchangeType":exchangeType,
            "exchangeCash":exchangeCash,
            "exchangeRemark":exchangeRemark,
            "productStatus":productStatus,
            "purchaseOrnot":purchaseOrnot,
            "productPrefecture":productPrefecture,
            "model":model
        }, function (data) {
            var status = data.status;
            var msg = data.msg;
            if (status === 200) {
                layer.open({
                    title: '提示'
                    , content: '审核成功！'
                    , yes: function (index, layero) {
                        var index = parent.layer.getFrameIndex(window.name)
                        parent.layer.close(index);
                        parent.window.location.reload();
                    }
                })
            } else {
                layer.msg(msg, {icon: 2});
            }
        })
    }



    // 审核商品保存
    function saveEditExchange() {
        var id = $("#id").val();
        var newProduct = $("#newProduct").val();
        var isDiscount = $("#isDiscount").val();
        var purchasePrice = $("#purchasePrice").val();
        var exchangePrice = $("#exchangePrice").val();
        var exchangeType = $("#exchangeType option:selected").val();
        var exchangeCash = $("#exchangeCash").val();
        var exchangeRemark = $("#exchangeRemark").val();
        var productStatus = $("#productStatusNot").val();
        var purchaseOrnot = $("#purchaseOrnot").val();
        var productPrefecture = $("#productPrefecture").val();
        var model = $("#model").val();
        var sales = $("#sales").val();
        if (sales < 0) {
            layer.msg("销量", {icon: 2});
            return;
        }
        $.post("/mgt/checkedProduct", {
            "id": id,
            "purchasePrice": purchasePrice,
            "exchangePrice": exchangePrice,
            "isDiscount": isDiscount,
            "newProduct": newProduct,
            "sales": sales,
            "exchangeType":exchangeType,
            "exchangeCash":exchangeCash,
            "exchangeRemark":exchangeRemark,
            "productStatus":productStatus,
            "purchaseOrnot":purchaseOrnot,
            "productPrefecture":productPrefecture,
            "model":model
        }, function (data) {
            var status = data.status;
            var msg = data.msg;
            if (status === 200) {
                layer.open({
                    title: '提示'
                    , content: '修改成功！'
                    , yes: function (index, layero) {
                        var index = parent.layer.getFrameIndex(window.name)
                        parent.layer.close(index);
                    }
                })
            } else {
                layer.msg(msg, {icon: 2});
            }
        })
    }

    function checkNumber(number) {
        var re = /^[0-9]+.?[0-9]*$/; //判断字符串是否为数字 //判断正整数 /^[1-9]+[0-9]*]*$/

        if (re.test(number)) {
            return true;
            true
        } else {
            return false;
        }
    }


</script>
</body>
</html>