<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjjzfy.interfaces.TbRolePermissionMapper">
    <select id="selectPermissionIdRoleId" resultType="java.lang.String">
        SELECT trp.permission_id
        FROM tb_role_permission trp
        WHERE  1 = 1
        <if test="roleId != null">
            AND trp.role_id = #{roleId}
        </if>
    </select>
</mapper>