<!DOCTYPE html><html lang=en><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1"><link rel=icon href=favicon.ico><link rel=stylesheet type=text/css href=../templates/mbHomePage/iconfont/font-awesome.min.css><title>my-store</title><link href=../templates/mbHomePage/static/css/app.8df38b02.css rel=stylesheet></head><body style="background: white;"><div id=app></div><script>!function(n){
          var  e=n.document,
              t=e.documentElement,
              i=720,
              d=i/100,
              o="orientationchange"in n?"orientationchange":"resize",
              a=function(){
                  var n=t.clientWidth||320;n>720&&(n=720);
                  t.style.fontSize=n/d+"px"
                  console.log(n/d)
              };
              e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))
      }(window);</script><script src=../templates/mbHomePage/static/js/runtime~app.97f1eac4.js></script><script src=../templates/mbHomePage/static/js/app.485fa455.js></script></body></html>