.order_count_item{
  width: 100%;
}
.order_item_title{
  width: 100%;
  height: 0.78rem;
  overflow: hidden;
  line-height: 0.78rem;
  padding: 0 0.3rem;
}
.order_item_title>span{
  float: left;
  font-size: 0.22rem;
  color: #999;
}
.order_screen{
  width: 1.34rem;
  height: 0.5rem;
  background: #fff;
  border-radius: 0.25rem;
  float: right;
  margin: 0.14rem;
  font-size: 0.26rem;
  line-height: 0.5rem;
  text-align: center;
  color: #666;
}
.order_screen i{
  font-size: 0.32rem;
}
.order_count_data{
  width: 100%;
  background: #fff;
}
.order_count_data>div{
  width: 100%;
  height: 1.5rem;
  border-bottom: 0.01rem solid #F0F0F0;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0 0.3rem 0.3rem;
}
.order_count_data_month{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  line-height: 1rem;
  text-align: center;
  font-size: 0.26rem;
  color: #fff;
  background: #bbb;
}
.order_count_data>div:last-child .order_count_data_month{
  background: #02A8E6 !important;
}
.order_count_data>div:nth-last-child(2) .order_count_data_month{
  background: #E43996 !important;
}
.order_count_data>div:nth-last-child(3) .order_count_data_month{
  background: #1D4A9F !important;
}
.order_count_data_order{
  width: 2.46rem;
  height: 100%;
  margin-left: 0.28rem;
}
.order_count_data_order span{
  display: block;
  width: 100%;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.3rem;
}
.order_count_data_order span:first-child{
  color: #333;
  margin-top: 0.1rem;
}
.order_count_data_order span:nth-child(2){
  color: #999;
  margin-top: 0.2rem;
}
.order_count_data_price{
  width: 3.74rem;
  height: 100%;
}
.order_count_data_price span{
  display: block;
  width: 100%;
}
.order_count_data_price span:first-child{
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.3rem;
  color: #333;
  margin-top: 0.1rem;
}
.order_count_data_price span:nth-child(2){
  height: 0.26rem;
  line-height: 0.26rem;
  font-size: 0.26rem;
  color: #999;
  margin-top: 0.2rem;
}
a{
  color: #666;
}