.order_success{
  height: 100%;
}
.order_success_bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
.order_success_content{
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
}
.order_success_bottom span{
  display: inline-block;
  width: 50%;
  height: 0.88rem;
  text-align: center;
  line-height: 0.88rem;
  color: #666666;
  font-size: 0.3rem;
  float: left;
}
.order_success_bottom span+span{
  color: #ffffff;
  background-color: #FF807D;
}
.order_success_content{
  text-align: center;
}
.order_success_content i{
  font-size: 1.6rem;
  color: #FF807D;
}
.order_success_content p{
  color: #666666;
  font-size: 0.3rem; 
  margin: 0.88rem 0 0.45rem 0;
}
.order_success_content p+p{
  font-size: 0.26rem;
  margin: 0;
}