.account_page{
  width: 100%;
  height: 100vh;
  background: #F0F0F0;
}
.account_top{
  width: 100%;
  height: 2.45rem;
  background: #FF807D;
}
.account_screen{
  width: 100%;
  text-align: right;
  font-size: 0.26rem;
  color: #fff;
  padding: 0.3rem 0.3rem 0;
}
.account_screen a{
  color: #fff;
}
.account_screen i{
  font-size: 0.28rem;
  color: #fff;
}
.account_text{
  width: 100%;
  text-align: center;
  font-size: 0.22rem;
  color: #fff;
  margin-top: 0.2rem;
  height: 0.22rem;
  line-height: 0.22rem;
}
.account_price{
  width: 100%;
  font-size: 0.56rem;
  height: 0.56rem;
  line-height: 0.56rem;
  color: #fff;
  text-align: center;
  margin-top: 0.2rem;
}
.account_detail{
  width: 100%;
}
.account_none{
  margin: 3rem auto 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.6rem;
  height: 1.6rem;
}
.account_none_text{
  width: 100%;
  height: 0.26rem;
  font-size: 0.26rem;
  line-height: 0.26rem;
  color: #999999;
  text-align: center;
  margin-top: 0.3rem;
}