ul,
li {
    margin: 0;
    padding: 0;
}
#addressID {
  display: none;
}
.harvest_address {
  padding-bottom: 50px;
}
.address_list {
    margin-bottom: 0.2rem;
    position: relative;
}

.address_content {
    display: inline-block;
    width: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 0 !important;
}

.harvest_address_content {
    padding: 0.3rem;
    font-size: 0.26rem;
    color: rgba(102, 102, 102, 1);
    line-height: 0.26rem;
    background-color: #fff;
    position: relative;
}
.harvest_address_content div{
   display: flex;
}
.harvest_address_content div+div {
    margin-top: 0.21rem;
}

.harvest_address_content span+span {
    margin-left: 0.3rem;
}

.harvest_address_content_name {
    display: inline-block;
    width: 1rem;
    text-align-last: justify;
    text-align: justify;
    text-justify: distribute-all-lines;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.harvest_address_list_confirm {
    display: none;
}

.harvest_address_list_circle {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 50%;
    vertical-align: text-top;
}

.address_list_bottom {
    height: 0.68rem;
    border-top: 1px solid rgba(224, 224, 224, 1);
    background-color: #fff;
    padding: 0 0.3rem;
    line-height: 0.68rem;
    font-size: 0.22rem;
}

.address_list_bottom i {
    font-size: 0.3rem;
    color: rgba(255, 128, 125, 1);
}

.address_list_bottom span {
    margin-left: 0.1rem;
    color: rgba(153, 153, 153, 1);
}

.harvest_address_btn {
    float: right;
}

.harvest_address_btn span {
    display: inline-block;
    height: 100%;
}

.harvest_address_btn_edit {
    margin-right: 0.3rem;
}

.harvest_address_bottom {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    color: rgba(255, 128, 125, 1);
    background-color: #fff;
    text-align: center;
    font-size: 0.3rem;
}

.harvest_address_modal {
    position: fixed;
    top: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.harvest_address_modal_main {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 5.9rem;
    height: 2.8rem;
    background-color: #fff;
    border-radius: 0.08rem;
}

.harvest_address_modal .harvest_address_modal_content {
    line-height: 1.91rem;
    font-size: 0.34rem;
    color: #333333;
    text-align: center;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.harvest_address_modal_btn span {
    display: inline-block;
    width: 50%;
    font-size: 0.34rem;
    height: 0.88rem;
    float: left;
    line-height: 0.88rem;
    text-align: center;
    color: rgba(102, 102, 102, 1);
}

.harvest_address_modal_btn_notarize {
    color: #fff !important;
    background: rgba(255, 128, 125, 1);
}
.default_address {
    margin-left: 0;
    padding: 3px .1rem;
    background: #FF807D;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    position: absolute;
    right: .1rem;
    top: .2rem;
}
.mui-backdrop{
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.address_popup{
  width: 100%;
  height: 6.6rem;
  background-color: #F9F9F9;
  padding: 0.2rem 0;
  position: fixed;
  bottom: -100%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transition: all 0.3s;
}
.address_popup.active{
  bottom: 0;
}
.address_popup >div{
  text-align: center;
  font-size: 0.32rem;
  color: #333333;
  margin-bottom: 0.2rem;
}
.address_popup ul {
  overflow: scroll;
  flex: 1;
}
.address_popup ul li {
  margin:.2rem;
  position: relative;
  box-shadow: 0px 1px 2px #afafaf;
}
.address_popup .harvest_address_content span+span {
  width:4.5rem;
}
.address_popup ul li i {
 position: absolute;
 right: 10px;
 transform: translate(0, -50%);
 top: 50%;
 color:#666;
}
