<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>网点员工管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="layui/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="layui/style/admin.css" media="all">
    <link rel="stylesheet" href="css/global.css" media="all">
    <script type=text/javascript src="js/jquery.min.js"></script>

</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div th:if="${orgType == 3 || userRole == '3'}">
                    <div class="layui-card-header" >网点员工管理
                        <div class="layui-btn layui-btn-sm fr  layui-btn-normal layui-btn-add"
                              >
                         <i class="layui-icon">&#xe654;</i>添加
                        </div>
                    </div>
                    <div class="layui-card-header">
                        <div class="layui-form layui-col-md6">
                            <div class="layui-input-inline"  >
                                <select name="getOrg" id="getOrg" lay-filter="getOrg">
                                    <option value="">选择机构</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table id="table_netWork" class="layui-table" lay-filter="table_netWork"></table>
                    <script type="text/html" id="NocheckTool" th:if="${orgType == 3 || userRole == '3'}">
                        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="layui/layui/layui.js"></script>
<script>
    var orgId = null;
    layui.use(['table', 'carousel', 'laydate', 'form', 'layer'], function () {
        var table = layui.table,
            carousel = layui.carousel,
            laydate = layui.laydate,
            layer = layui.layer,
            $ = layui.$,
            form = layui.form;


        form.on('select(getOrg)', function (data) {
            orgId = data.elem[data.elem.selectedIndex].value;
            selectNetWorkUser(orgId);
        });

        // 获取机构
        $.ajax({
            type: "GET",
            url: "/mgt/selectOrgInfo",
            success: function (data) {
                for (var i = 0; i < data.data.length; i++) {
                    $("#getOrg").append('<option value="' + data.data[i].id + '" >' + data.data[i].org_name + '</option>');
                }
                form.render('select');
            }
        });



        selectNetWorkUser(orgId);
        function selectNetWorkUser(orgId) {
            table.render({
                elem: '#table_netWork',
                url: "/mgt/selectNetWorkUser",
                where: {
                    "orgId": orgId
                },
                request: {
                    pageName: 'pageNo', //页码的参数名称，默认：page
                    limitName: 'pageSize' //每页数据量的参数名，默认：limit
                },
                cols: [
                    [
                        {field: 'branch_id', title: '员工编号', width: 200},
                        {field: 'name', title: '员工名称', width: 200},
                        {field: 'phone_num', title: '电话号码', width: 200,sort: true,edit:'text'},
                        {field: 'orgName', title: '所属机构'},
                        {field: 'deptment', title: '部门',edit:'text'},
                        {
                            field: 'create_time',
                            title: '创建时间',
                            templet: '<div>{{ layui.util.toDateString(d.create_time, "yyyy-MM-dd HH:mm:ss") }}</div>',
                            width: 220,
                            sort: true
                        },
                        {width: 150, align: 'center', title: '操作', fixed: 'right', toolbar: '#NocheckTool'}
                    ]
                ],
                page: true,
                parseData: function (res) {
                    return {
                        "code": 0,
                        "msg": "",
                        "count": res.data.size,
                        data: res.data.list
                    }
                }

            });
        }
        table.on('tool(table_netWork)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field //得到字段
                ,layEvent = obj.event;
            if(layEvent === "del"){
                layer.open({
                    content: '确定删除员工 <p style="font-weight: bolder;display: inline;font-size: 18px">['+ data.name+']</p> 吗?'
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        $.ajax({
                            url:"/mgt/deleteNetWorkUser",
                            type:"POST",
                            async:true,
                            data:{
                                "id":data.id,
                            },
                            success:function (data) {
                                if(data.code == 200){
                                    layer.msg( data.data);
                                }else{
                                    layer.msg( data.msg);
                                }
                                selectNetWorkUser(orgId);
                            }
                        });
                    }
                });
            }
        });


        table.on('edit(table_netWork)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field //得到字段
                ,layEvent = obj.event;
            var id = data.id
            var phoneNum = data.phone_num;
            var deptment = data.deptment;
            var flag = true;
            if(field == "phoneNum"){
                if(!(/(^[1-9]\d*$)/.test(value))){
                    layer.msg('输入的不是正整数');
                    flag = false;
                    return
                }
                phoneNum = value;

            }else if(field=="deptment" ){
                deptment = value;
            }
            if(flag){
                $.ajax({
                    url:"/mgt/updateNetWorkUser",
                    type:"POST",
                    async:true,
                    data:{
                        "id":id,
                       "phoneNum":phoneNum,
                        "deptment":deptment
                    },
                    success:function (data) {
                        if(data.code == 200){
                            layer.msg( data.data);
                        }else{
                            layer.msg( data.msg);
                        }

                    }
                });
            }

            if(layEvent === "del"){
                console.log("12")
            }
        });

        $('.layui-btn-add').click(function () {
            var index = layer.open({
                type: 2,
                title: '添加员工',
                shadeClose: true,
                shade: 0.8,
                area: ['480px', '70%'],
                content: '/mgt/toNetworkAdd'
            });

        })


    });


</script>
</html>
