<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>单位修改</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="layui/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="layui/style/admin.css" media="all">
    <script src="js/jquery.min.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改单位</div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">单位编号</label>
                            <div class="layui-input-inline">
                                <input type="text" id="branchno" name="branchno" lay-verify="number"
                                       placeholder="请输入单位编号"
                                       class="layui-input" th:value="${org.branchno}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">单位名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="orgName" name="orgName"
                                       placeholder="请输入单位名称"
                                       class="layui-input" th:value="${org.orgName}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">行号</label>
                            <div class="layui-input-inline">
                                <input type="text" id="bankNo" name="bankNo"
                                       placeholder="请输入行号"
                                       class="layui-input" th:value="${org.bankNo}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">单位类型</label>
                            <div class="layui-input-inline">
                                <!--<select id="type" name="type" lay-filter="type" readonly>
                                    <option th:if="${org.type} eq '1'">商户</option>
                                    <option th:if="${org.type} eq '2'">行社</option>
                                </select>-->

<!--                                <input type="text" th:if="${org.type} eq '1'" class="layui-input" value="供货方" readonly>-->
<!--                                <input type="text" th:if="${org.type} eq '2'" class="layui-input" value="订货方" readonly>-->
<!--                                <input type="text" th:if="${org.type} eq '3'" class="layui-input" value="平台" readonly>-->

                                <select id="type" name="type" lay-filter="type">
                                    <option value="1" th:selected="${org.type eq 1}">供货方</option>
                                    <option value="2" th:selected="${org.type eq 2}">订货方</option>
                                    <option value="3" th:selected="${org.type eq 3}">平台</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item" id="parent" th:style="'display:' + @{(${org.type eq 2} ? 'block' : 'none')} + ''">
                            <label class="layui-form-label">上级网点</label>
                            <div class="layui-input-inline">
                                <select id="branchParent" name="branchParent">
                                    <option value="-1">无</option>
                                    <option th:each="o:${orgs}" th:if="${o.branchno} == ${org.parentBranchno}"
                                            th:value="${o.branchno}" th:text="${o.orgName}" selected></option>
                                    <option th:each="o:${orgs}" th:if="${o.branchno} != ${org.parentBranchno}"
                                            th:value="${o.branchno}" th:text="${o.orgName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">地址</label>
                            <div class="layui-input-inline">
                                <input type="text" id="address" name="address"
                                       placeholder="请输入单位地址"
                                       class="layui-input" th:value="${org.address}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">联系人</label>
                            <div class="layui-input-inline">
                                <input type="text" id="contact" name="contact"
                                       placeholder="请输入单位联系人"
                                       class="layui-input" th:value="${org.contact}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">电话</label>
                            <div class="layui-input-inline">
                                <input type="text" id="telephone" name="telephone"
                                       placeholder="请输入联系人电话"
                                       class="layui-input" th:value="${org.telephone}">
                            </div>
                        </div>
                        <!--当前为行社-->
                        <div class="layui-form-item" th:if="${org.type == 2 && orgType == 2}">
                            <label class="layui-form-label">额度</label>
                            <div class="layui-input-inline">
                                <input type="text" id="balance" name="balance" value="0"
                                       placeholder="请输入订货额度"
                                       class="layui-input" th:value="${org.balance}">
                            </div>
                        </div>
                        <div class="layui-form-item" th:if="${org.type == 2 && orgType == 3}">
                            <label class="layui-form-label">额度</label>
                            <div class="layui-input-inline">
                                <input type="text" id="balance" name="balance" value="0"
                                       placeholder="请输入订货额度" readonly
                                       class="layui-input" th:value="${org.balance}">
                            </div>
                        </div>
                        <div class="layui-form-item" onclick="organizeModify()">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="set_system_email">确认保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="layui/layui/layui.js"></script>
<script>
    $(function () {
        $("#parent").find("option[value='" + [[${org.parentBranchno}]] + "']").prop("selected", true);
    })
    layui.config({
        base: 'layui/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'set']);

    var form;
    var value = "";
    layui.use(['form'], function () {
        form = layui.form;
        form.on('select(type)', function (data) {
            value = data.value;
            if (value == 2) {
                $("#parent").show();
            } else {
                $("#parent").hide();
            }
        });
    });

    function organizeModify() {
        var id = [[${org.id}]] + "";
        //var type = [[${org.type}]] + "";
        var type =  $("#type").val();
        var contact = $("#contact").val();
        var orgName = $("#orgName").val();
        var address = $("#address").val();
        var balance = $("#balance").val();
        var branchno = $("#branchno").val();
        var telephone = $("#telephone").val();
        var branchParent = $("#branchParent").val();
        var bankNo = $("#bankNo").val();
        if (branchno == "") {
            luiAlert("提示", "单位编号为空")
            return
        }
        if (bankNo == "") {
            luiAlert("提示", "行号为空")
            return
        }
        if (orgName == "") {
            luiAlert("提示", "单位名称为空")
            return
        }
        if (contact == "") {
            luiAlert("提示", "联系人为空")
            return
        }
        if (address == "") {
            luiAlert("提示", "地址为空")
            return
        }
        // if (balance == "") {
        //     luiAlert("提示", "消费额度为空")
        //     return
        // }
        if (telephone == "") {
            luiAlert("提示", "联系电话为空")
            return
        }
        $.get("/mgt/organizeModify", {
            "id": id,
            "type": type,
            "orgName": orgName,
            "address": address,
            "contact": contact,
            "balance": balance,
            "branchno": branchno,
            "telephone": telephone,
            "parentBranchno": branchParent,
            "bankNo":bankNo
        }, function (data) {
            var status = data.status;
            var msg = data.msg;
            if (status == 200) {
                layer.open({
                    title: '提示'
                    , content: '修改成功'
                    , yes: function (index, layero) {
                        var index = parent.layer.getFrameIndex(window.name)
                        parent.layer.close(index);
                        parent.window.location.reload();
                    }
                })
                // luiAlert("提示","修改成功")
            } else {
                luiAlert("提示", msg)
            }
        })
    }
</script>
</body>
</html>