.order_list_page{
  padding-bottom: 0.98rem;
  width: 100%;
}
.order_list_top{
  width: 100%;
  height: 1.68rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99;
}
.order_list_search{
  width: 100%;
  height: 0.88rem;
  overflow: hidden;
  padding: 0 0.3rem;
}
.order_list_search>div:first-child{
  width: 6.3rem;
  height: 0.56rem;
  border: 0.01rem solid #F0F0F0;
  border-radius: 0.28rem;
  float: left;
  margin-top: 0.16rem;
  font-size: 0.28rem;
  color: #ccc;
  line-height: 0.52rem;
  padding: 0 0.3rem;
  overflow: hidden;
}
.order_list_search>div:first-child i{
  font-size: 0.32rem;
  color: #666;
  display: block;
  float: left;
  margin-right: 0.1rem;
}
.order_list_search>div:nth-child(2){
  width: 0.4rem;
  height: 0.4rem;
  float: right;
  margin-top: 0.24rem;
  line-height: 0.4rem;
}
.order_list_search>div:nth-child(2) i{
  display: block;
  font-size: 0.48rem;
  color: #999999;
}
.order_list_tab{
  width: 100%;
  height: 0.8rem;
  border-bottom: 0.01rem solid #e0e0e0;
  display: flex;
  justify-content: space-between;
}
.order_list_tab>div{
  width: 50%;
  height: 100%;
  font-size: 0.28rem;
  color: #666666;
  text-align: center;
  line-height: 0.79rem;
}
.tab_active{
  border-bottom: 0.04rem inset #0BC6D7;
  color: #0BC6D7 !important;
}
.order_list{
  padding-top: 1.68rem
}
.order_examine_item{
  width: 100%;
  height: 3.27rem;
  background: #fff;
  margin-bottom: 0.2rem;
  padding: 0 0.3rem;
}
.order_item_title{
  width: 100%;
  height: 0.8rem;
  border-bottom: 0.01rem solid #e0e0e0;
  overflow: hidden;
}
.order_item_title span:first-child,.order_item_title span:nth-child(2){
  float: left;
  height: 0.4rem;
  width: 0.4rem;
  border: 0.02rem solid #0BC6D7;
  border-radius: 0.04rem;
  color: #0BC6D7;
  font-size: 0.26rem;
  text-align: center;
  line-height: 0.36rem;
  margin-top: 0.2rem;
}
.order_item_title span:nth-child(2){
  border: 0.02rem solid #FF807D;
  color: #FF807D;
  margin-left: 0.1rem;
}
.order_item_title span:nth-child(3){
  float: right;
  font-size: 0.3rem;
  color: #FF807D;
  line-height: 0.79rem;
}
.order_item_main{
  width: 100%;
  height: 2,46rem;
  padding: 0.3rem 0 0;
  position: relative;
}
.order_item_main>div:first-child{
  width: 100%;
  font-size: 0.34rem;
  color: #333;
  line-height: 0.34rem;
  height: 0.34rem;
}
.order_item_main>div:nth-child(2){
  width: 100%;
  font-size: 0.3rem;
  line-height: 0.3rem;
  height: 0.3rem;
  margin-top: 0.28rem;
  color: #999;
}
.order_item_main>div:nth-child(3){
  width: 100%;
  font-size: 0.3rem;
  color: #999;
  margin-top: 0.18rem;
  height: 0.3rem;
  line-height: 0.3rem;
}
.order_item_main>div:nth-child(3) span{
  color: #666;
}
.order_item_main>div:nth-child(4){
  width: 5rem;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.3rem;
  color: #999;
  margin-top: 0.18rem;
}
.order_item_main>div:nth-child(4) span:first-child{
  color: #666;
}
.order_item_main>div:nth-child(4) span:first-child span{
  font-size: 0.22rem;
}
.order_status{
  color: #FF807D;
  margin-left: 0.04rem;
}
.order_item_main>div:nth-child(5){
  font-size: 0.26rem;
  position: absolute;
  right: 0;
  height: 0.3rem;
  line-height: 0.3rem;
  bottom: 0;
  color: #999999;
}
/* 抽屉样式 */
.mask{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  display: none;
  opacity: 0;
}
.mask_popup{
  width: 6.5rem;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #fff;
  right: -6.5rem;
}
.popup_ani{
  -webkit-transform : translateX(-6.5rem);
  transform : translateX(-6.5rem);
  -webkit-transition :-webkit-transform .5s ease-out, opacity .5s ease-out; 
  transition :transform .5s ease-out, opacity .5s ease-out;
}
.popup_to_right{
  -webkit-transform : translateX(0);
  opacity: 0;
  transform : translateX(0);
  -webkit-transition :-webkit-transform .5s ease-out, opacity .5s ease-out;
  transition :transform .5s ease-out, opacity .5s ease-out;
}
.popup_title{
  width: 100%;
  height: 0.88rem;
  padding-left: 0.3rem;
  line-height: 0.88rem;
  color: #333;
  font-size: 0.3rem;
}
.popup_date{
  width: 5.9rem;
  height: 0.6rem;
  background: #EEF5F6;
  border-radius: 0.06rem;
  position: relative;
  padding: 0 0.3rem;
  line-height: 0.6rem;
  margin: auto;
}
.popup_date .kinerDatePickerInput{
  width: 100%;
  height: 100%;
  line-height: 0.6rem;
  font-size: 0.26rem;
  color: #606566;
  letter-spacing: 0.04rem;
}
.popup_date i{
  position: absolute;
  font-size: 0.26rem;
  color: #606566;
  right: 0.3rem;
  top: 0;
}
.order_popup_status{
  width: 100%;
  height: 0.97rem;
  line-height: 0.97rem;
  font-size: 0.3rem;
  color: #333;
  padding: 0 0.3rem;
}
.order_popup_btn{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 0.3rem;
}
.order_popup_btn>div{
  width: 1.82rem;
  height: 0.6rem;
  background: #EEF5F6;
  border-radius: 0.06rem;
  line-height: 0.6rem;
  color: #606566;
  font-size: 0.26rem;
  text-align: center;
  margin-right: 0.22rem;
  margin-bottom: 0.2rem;
}
.order_btn_act{
  background: #0BC6D7 !important;
  color: #fff !important;
}
.order_popup_btn>div:nth-child(3n){
  margin-right: 0;
}
.order_popup_bottm{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 0.01rem solid #E0E0E0;
  display: flex;
  justify-content: space-around;
  height: 0.9rem;
}
.order_popup_bottm>div{
  width: 50%;
  height: 100%;
  line-height: 0.89rem;
  text-align: center;
  font-size: 0.34rem;
}
.order_popup_bottm>div:first-child{
  background: #fff;
  color: #0BC6D7;
}
.order_popup_bottm>div:nth-child(2){
  background: #0BC6D7;
  color: #fff;
}